
body{
    background-color: #7395ae;
    color: #fff;
    font-size: 16px;
    font-family: 'Assistant', sans-serif;;
}

#header-nav{
    background-color: #5d5c61;
    border-radius: 0;
    border: 0;
}

#header-nav-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.navbar-brand h1{
    color: #fff;
    font-weight: bold;
    font-family: 'Luxurious Roman', cursive;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand p{
    color: #7395a3;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.navbar-brand i{
    vertical-align: middle;
    font-size: 20px;
}

#Navbar{
    font-family: 'Luxurious Roman', cursive;
    font-size: 1.3em;
    margin-right: 50px;
}

.nav-item{
    margin-left: 40px;
}

#nav-list a {
    color: #7395a7;
    text-align: center;
}

.glyphicon{
    color: #fff;
}



.container .jumbotron {
    box-shadow: 0 0 50px #5d5c61;
    border: 2px solid #5d5c61;
  }

  #MainImg{
      max-width: 100%;
      height: auto;
      margin-top: 20px;
      border-radius: 10px;
  }



  #menu-tile, #specials-tile, #map-tile {
    height: 300px;
    width: 100%;
    margin-top: 15px;
    margin-left: 60px;
    position: relative;
    border: 2px solid #5d5c61;
    overflow: hidden;
  }


  #menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }


  #menu-tile {
    background: url('images/menu.jfif') no-repeat;
    background-position: center;
    background-size: 100% 300px;
  }


  #specials-tile {
    background: url('images/specials.jpg') no-repeat;
    background-position: center;
    background-size: 100% 300px;
  }

  
  #menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: black;
    color: #fff;
    opacity: .8;
  }


  .panel-footer {
    margin-top: 30px;
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #5d5c61;;
    border-top: 0;
  }
  .panel-footer div.row {
    margin-bottom: 25px;
  }
  #hours, #address {
    line-height: 1.5;
  }
  #hours > span, #address > span {
    font-size: 1.3em;
  }
  #address p {
    color: #000000c0;
    font-size: .8em;
    line-height: 1.8;
  }
  #testimonials {
    font-style: italic;
  }
  #testimonials p:nth-child(2) {
    margin-top: 25px;
  }

  #call-btn{
      background-color:#000000 ;
      margin: auto;
      width: 170px;
      border-radius: 5px;
      margin-top: 5px;
  }

  #call-btn a{
    font-size: 1.5em;
    font-weight: 800;
    color: whitesmoke;
  }

  #xs-deliver{
      font-size: 1em;
      color: #FFC0CB;
  }

/* MEDIA QUERIES */

@media (max-width: 479px) {
    #header-nav-img{
        width: 60px;
        height: 60px;
    }

    .navbar-brand h1{
        font-size: 1em;
    }

    #menu-tile, #specials-tile, #map-tile{
        margin-left: auto;
    }
}  /* EXTRA SMALL DEVICES */



@media (min-width: 480px) and (max-width: 599px) {
    .navbar-brand h1{
        font-size: 1.3em;
    }



    #menu-tile, #specials-tile, #map-tile{
        margin-left: auto;
    }
} /* SMALL DEVICES */



@media (min-width: 768px) and (max-width: 991px) {
    #header-nav-img{
        width: 120px;
        height: 120px;
    }

    .navbar-brand h1{
        font-size: 1.2em;
    }

    .nav-item{
        margin-left: 10px;
    }

    #Navbar{
        margin-right: -5px;
    }

    #nav-list a {
        font-size: 0.8em;
    }

    #menu-tile, #specials-tile, #map-tile{
        height: 200px;
        margin-left: 50px;
    }

    
} /* MEDIUM DEVICES */

